* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
body { 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
  }
.container {
    text-align: center;
  }
.container img {
    width: 550px;
  }
.container h1 {
    font-size: 45px;
  }
.container p {
    font-size: 25px;
    margin: 20px 0;
    color: #004273;
  }